/* Mengatur background gradasi Hitam, Emas, dan Pink */
body {
    background: linear-gradient(-45deg, #000000, #d4af37, #ff1493, #1a1a1a);
    background-size: 300% 300%;
    animation: gerakGradasi 12s ease infinite;
    color: #ffffff;
}

/* Animasi supaya gradasinya bergerak halus */
@keyframes gerakGradasi {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
